:root {

  /* ========================== TOP (1st) ================================ */

  /* Top Banner */
  --top-banner-bg: var(--color-primary);
  --top-banner-text: var(--color-text);
  --top-banner-border: var(--color-border);


  /* ========================== SUBJECT (2nd) ================================ */

   /* Subject Banner */
  --subject-banner-bg: var(--color-secondary);
  --subject-banner-text: var(--color-text-inverse);
  --subject-banner-border: var(--color-border-light);


  /* Subject Menu Toggle Button */
  --subject-menu-toggle-bg: var(--color-text-inverse);
  --subject-menu-toggle-text: var(--color-secondary);
  --subject-menu-toggle-border: var(--color-secondary);
  --subject-menu-toggle-hover-bg: var(--color-text);
  --subject-menu-toggle-hover-text: var(--color-text-inverse);

  --subject-menu-toggle-active-bg: var(--color-bg-active);
  --subject-menu-toggle-active-text: var(--color-text-inverse);

  --subject-menu-toggle-closed-bg: var(--color-secondary);
  --subject-menu-toggle-closed-text: var(--color-text-inverse);
  --subject-menu-toggle-closed-border: var(--color-text-inverse);
  --subject-menu-toggle-closed-hover-bg: var(--color-bg-hover);
  --subject-menu-toggle-closed-hover-text: var(--color-text-inverse);
  --subject-menu-toggle-closed-hover-border: var(--color-border-strong);


  /* Subject Menu */
  --subject-menu-bg: var(--color-primary-light);
  --subject-menu-text: var(--color-text);
  --subject-menu-separator: var(--color-border-medium);

  --subject-menu-hover-bg: var(--color-secondary-alt);
  --subject-menu-active-bg: var(--color-secondary);

  --subject-menu-active-text: var(--color-text-inverse);

  /* Subject Menu Scrollbar */
  --subject-menu-scrollbar-track: var(--color-bg-alt);
  --subject-menu-scrollbar-thumb: var(--color-secondary);
  --subject-menu-scrollbar-thumb-hover: var(--color-secondary);

  /* Subject Menu Resize */
  --subject-menu-resize-bg: var(--color-bg-alt);
  --subject-menu-resize-border: var(--color-secondary);
  --subject-menu-resize-dots: var(--color-secondary);

  --subject-menu-resize-hover-bg: var(--color-secondary-alt);
  --subject-menu-resize-hover-border: var(--color-secondary);
  --subject-menu-resize-hover-dots: var(--color-text-inverse);



  /* ========================== COURSE (3rd) ================================ */

  /* Course Banner */
  --course-banner-bg: var(--color-tertiary);
  --course-banner-text: var(--color-text-inverse);
  --course-banner-border: var(--color-border-light);

  /* Course Menu Toggle Button */
  --course-menu-toggle-bg: var(--color-text-inverse);
  --course-menu-toggle-text: var(--color-tertiary);
  --course-menu-toggle-border: var(--color-tertiary);
  --course-menu-toggle-hover-bg: var(--color-text);
  --course-menu-toggle-hover-text: var(--color-text-inverse);

  --course-menu-toggle-active-bg: var(--color-bg-active);
  --course-menu-toggle-active-text: var(--color-text-inverse);


  --course-menu-toggle-closed-bg: var(--color-tertiary);
  --course-menu-toggle-closed-text: var(--color-text-inverse);
  --course-menu-toggle-closed-border: var(--color-text-inverse);
  --course-menu-toggle-closed-hover-bg: var(--color-bg-hover);
  --course-menu-toggle-closed-hover-text: var(--color-text-inverse);
  --course-menu-toggle-closed-hover-border: var(--color-text);


  /* Course Menu */
  --course-menu-bg: var(--color-primary-lighter);
  --course-menu-text: var(--color-text);
  --course-menu-separator: var(--color-border);

  --course-menu-hover-bg: var(--color-tertiary-alt);

  --course-menu-active-bg: var(--color-tertiary);
  --course-menu-active-text: var(--color-text-inverse);

  --course-menu-border-right: var(--color-border);

  /* Course Menu Scrollbar */
  --course-menu-scrollbar-track: var(--color-bg-alt);
  --course-menu-scrollbar-thumb: var(--color-tertiary);
  --course-menu-scrollbar-thumb-hover: var(--color-tertiary);

  /* Course Menu Resize */
  --course-menu-resize-bg: var(--color-bg-alt);
  --course-menu-resize-border: var(--color-tertiary);
  --course-menu-resize-dots: var(--color-tertiary);

  --course-menu-resize-hover-bg: var(--color-tertiary-alt);
  --course-menu-resize-hover-border: var(--color-tertiary);
  --course-menu-resize-hover-dots: var(--color-text-inverse);


  /* ========================== TOPIC (4th) ================================ */

    /* Topic Banner */
  --topic-banner-bg: var(--color-quarternary);
  --topic-banner-text: var(--color-text-inverse);
  --topic-banner-border: var(--color-text-inverse);

  /* Topic Menu Toggle Button */
  --topic-menu-toggle-bg: var(--color-text-inverse);
  --topic-menu-toggle-text: var(--color-quarternary);
  --topic-menu-toggle-border: var(--color-quarternary);
  --topic-menu-toggle-hover-bg: var(--color-text);
  --topic-menu-toggle-hover-text: var(--color-text-inverse);

  --topic-menu-toggle-active-bg: var(--color-bg-active);
  --topic-menu-toggle-active-text: var(--color-text-inverse);

  --topic-menu-toggle-closed-bg: var(--color-quarternary);
  --topic-menu-toggle-closed-text: var(--color-text-inverse);
  --topic-menu-toggle-closed-border: var(--color-text-inverse);
  --topic-menu-toggle-closed-hover-bg: var(--color-bg-hover);
  --topic-menu-toggle-closed-hover-text: var(--color-text-inverse);
  --topic-menu-toggle-closed-hover-border: var(--color-border-strong);


  /* Topic Menu */
  --topic-menu-bg: var(--color-primary-lightest);
  --topic-menu-text: var(--color-text);
  --topic-menu-separator: var(--color-border);

  --topic-menu-hover-bg: var(--color-quarternary-alt);

  --topic-menu-active-bg: var(--color-quarternary);
  --topic-menu-active-text: var(--color-text-inverse);

  --topic-menu-border-right: var(--color-border);

  /* Topic Menu Scrollbar */
  --topic-menu-scrollbar-track: var(--color-bg-alt);
  --topic-menu-scrollbar-thumb: var(--color-quarternary);
  --topic-menu-scrollbar-thumb-hover: var(--color-quarternary);
  --topic-menu-scrollbar-track-border: var(--color-bg-disabled);

  /* Topic Menu Resize */
  --topic-menu-resize-bg: var(--color-bg-alt);
  --topic-menu-resize-border: var(--color-quarternary);
  --topic-menu-resize-dots: var(--color-quarternary);

  --topic-menu-resize-hover-bg: var(--color-quarternary-alt);
  --topic-menu-resize-hover-border: var(--color-quarternary);
  --topic-menu-resize-hover-dots: var(--color-text-inverse);


  /* ========================== UNIT (5th) ================================ */

  /* Units Banner */
  --units-banner-bg: var(--color-quinary);
  --units-banner-text: var(--color-text);
  --units-banner-border: var(--color-text-inverse);

  /* Units Menu Toggle Button */
  --units-menu-toggle-bg: var(--color-text-inverse);
  --units-menu-toggle-text: var(--color-text);
  --units-menu-toggle-border: var(--color-text);
  --units-menu-toggle-hover-bg: var(--color-text);
  --units-menu-toggle-hover-text: var(--color-text-inverse);

  --units-menu-toggle-active-bg: var(--color-bg-active);
  --units-menu-toggle-active-text: var(--color-text-inverse);

  --units-menu-toggle-closed-bg: var(--color-quinary);
  --units-menu-toggle-closed-text: var(--color-text-inverse);
  --units-menu-toggle-closed-border: var(--color-text-inverse);
  --units-menu-toggle-closed-hover-bg: var(--color-bg-hover);
  --units-menu-toggle-closed-hover-text: var(--color-text-inverse);
  --units-menu-toggle-closed-hover-border: var(--color-border-strong);

  /* Units Menu Prev/Next Buttons */
  --btn-bg: var(--color-text-inverse);
  --btn-text: var(--color-text);
  --btn-border: var(--color-text);

  --btn-hover-bg: var(--color-text);
  --btn-hover-text: var(--color-text-inverse);
  --btn-hover-border: var(--color-text);

  --btn-active-bg: var(--color-bg-active);
  --btn-active-text: var(--color-bg-active);
  --btn-active-border: var(--color-bg-active);

  --btn-disabled-bg: var(--color-bg-disabled);
  --btn-disabled-text: var(--color-text-inverse);
  --btn-disabled-border: var(--color-quinary);

  /* Units Menu */
  --units-menu-bg: var(--color-bg);
  --units-menu-text: var(--color-text);
  --units-menu-separator: var(--color-border);

  --units-menu-hover-bg: var(--color-quinary-alt);

  --units-menu-active-bg: var(--color-quinary);
  --units-menu-active-text: var(--color-text);

  --units-menu-border-right: var(--color-border);



  /* Units Menu Scrollbar */
  --units-menu-scrollbar-track: var(--color-bg-alt);
  --units-menu-scrollbar-thumb: var(--color-quinary);
  --units-menu-scrollbar-thumb-hover: var(--color-quinary);
  --units-menu-scrollbar-track-border: var(--color-bg-disabled);

  /* Units Menu Resize */
  --units-menu-resize-bg: var(--color-bg-alt);
  --units-menu-resize-border: var(--color-text);
  --units-menu-resize-dots: var(--color-text);

  --units-menu-resize-hover-bg: var(--color-quinary-alt);
  --units-menu-resize-hover-border: var(--color-quinary);
  --units-menu-resize-hover-dots: var(--color-text-inverse);


  /* ========================== CONTENT ================================ */

  /* Content Area */
  --content-bg: var(--color-text-inverse);
  --content-text: var(--color-text);
  --content-heading: var(--color-text);
  --content-code-bg: var(--color-code-bg);
  --content-code-text: var(--color-code-text);
  --content-inline-code-bg: var(--color-bg-alt);
  --content-table-border: var(--color-border);
  --content-table-header-bg: var(--color-bg-alt);
  --content-accent: var(--color-accent);
  --content-accent-hover: var(--color-accent-hover);

  /* Content Prev/Next, Top of Page Buttons  */
  --content-nav-bg: var(--color-text-inverse);
  --content-nav-text: var(--color-text);
  --content-nav-border: var(--color-border);
  --content-nav-hover-bg: var(--color-text);
  --content-nav-hover-text: var(--color-text-inverse);

  --content-nav-active-bg: var(--color-bg-active);
  --content-nav-active-text: var(--color-text-inverse);
  --content-nav-active-border: var(--color-bg-active);

  --content-nav-disabled-bg: var(--color-bg-disabled);
  --content-nav-disabled-text: var(--color-text-inverse);
  --content-nav-disabled-border: var(--color-border-disabled);



  /* ========================== TYPOGRAPHY ================================ */

  /* Headings */
  --heading-h1-color: var(--color-text);
  --heading-h1-size: 2em;
  --heading-h2-color: var(--color-secondary);
  --heading-h2-size: 1.5em;
  --heading-h3-color: var(--color-tertiary);
  --heading-h3-size: 1.17em;
  --heading-h4-color: var(--color-quarternary);
  --heading-h4-size: 1em;

  /* Paragraph */
  --paragraph-color: var(--color-text);
  --paragraph-line-height: 1.6;

  /* Links */
  --link-color: var(--color-accent);
  --link-hover-color: var(--color-accent-hover);



}
